<form method="post" action="{{ path('app_tareas_delete', {'id': tarea.id}) }}" id="deleteForm">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tarea.id) }}">
    <button type="button" class="btn btn-danger" id="deleteConfirmButton">Eliminar</button>

</form>
