{% extends 'base.html.twig' %}

{% block title %}Nueva Tarea{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    /* Estilos para el contenedor del formulario */
    .formulario-container {
        width: 100%;
        max-width: 500px; /* Ancho m치ximo del contenedor */
        margin: 80px auto 0; /* Margen superior de 100px, centrado horizontalmente */
        padding: 20px; /* A침adir espacio alrededor del contenedor */
        border: 1px solid #ccc; /* A침adir borde al contenedor */
        border-radius: 10px; /* A침adir bordes redondeados al contenedor */
    }

    /* Estilos para los campos del formulario */
    .formulario-container input[type="text"],
    .formulario-container input[type="checkbox"],
    .formulario-container select {
        width: 100%; /* Ocupa todo el ancho disponible */
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 10px; /* Espacio entre los campos */
    }
    
</style>

{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="formulario-container">
                <h1 class="h3 mb-3 font-weight-normal text-center">Crear nueva tarea</h1>
            {# Incluye el formulario de tareas #}
            {{ include('tareas/_form.html.twig', {'modal_button': true}) }}

                <a href="{{ path('app_tareas_index') }}" class="btn btn-secondary">Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
