<form method="post" action="{{ path('app_proyectos_delete', {'id': proyecto.id}) }}" id="deleteForm">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proyecto.id) }}">
    <button type="button" class="btn btn-danger" id="deleteConfirmButton">Eliminar</button>

</form>

