{% extends 'base.html.twig' %}

{% block title %}Edit Proyectos{% endblock %}

{% block body %}
    <h1>Editar Proyectos</h1>

    {{ include('proyectos/_form.html.twig', {'button_label': 'Update'}) }}

       <a href="javascript:history.go(-1);" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> Volver </a>

    {{ include('proyectos/_delete_form.html.twig') }}
{% endblock %}
