{% extends 'base.html.twig' %}

{% block title %}Recuperar Contrase침a{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Recuperar Contrase침a</h1>
    <p>Por favor, introduce tu correo electr칩nico para recibir un enlace para restablecer tu contrase침a.</p>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        {{ form_row(requestForm.submit) }}
    {{ form_end(requestForm) }}
</div>
{% endblock %}
