<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer contraseña</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .card {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">¡Hola {{ userEmail }}!</h1>
                        <p class="card-text">Por favor, restablece tu contraseña haciendo clic en el siguiente enlace:</p>
                        <a href="{{ confirmationUrl }}" class="btn btn-primary">Confirmar Email</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
