<form method="post" action="{{ path('app_usuarios_delete', {'id': usuario.id}) }}" id="deleteForm">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.id) }}">
    <button type="button" class="btn btn-danger" id="deleteConfirmButton">Eliminar</button>

</form>

