{% extends 'base.html.twig' %}

{% block title %}New Usuarios{% endblock %}

{% block body %}
    <h1>Crear nuevo usuario</h1>

    {{ include('usuarios/_form.html.twig', {'modal_button': false}) }}

    <a href="{{ path('app_usuarios_index') }}" class="btn btn-secondary">Back</a>
{% endblock %}
