<!-- botones_base.html.twig -->

<button type="button" class="btn btn-success">Guardar</button>
<button type="button" class="btn btn-danger">Eliminar</button>
<button type="button" class="btn btn-warning">Editar</button>
<button type="button" class="btn btn-info">Detalles</button>
<button type="button" class="btn btn-primary">Crear Nuevo</button>
<button type="button" class="btn btn-secondary">Back</button>