<form method="post" action="{{ path('app_clientes_delete', {'id': cliente.id}) }}" id="deleteForm">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cliente.id) }}">
    <button type="button" class="btn btn-danger" id="deleteConfirmButton">Eliminar</button>

</form>
