{% extends 'base.html.twig' %}

{% block title %}Editar Clientes{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div style="padding-top: 100px;"> <!-- Agregar relleno superior -->
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title text-center mb-4">Editar Clientes</h1>
                            <div class="mt-3">
                                <div class="text-center">
                                    <form method="post" style="display: inline;">
                                        {{ include('clientes/_form.html.twig', {'modal_button': true}) }}
                                        
                                        <a href="javascript:history.go(-1);" class="btn btn-secondary ml-2">
                                            <i class="fas fa-arrow-left"></i> Volver
                                        </a>
                                        {{ include('clientes/_delete_form.html.twig', {'button_label': 'Eliminar'}) }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}






{% block javascripts %}
    {{ parent() }}
    <script>
        // Mostrar la ventana modal de confirmación cuando se hace clic en el botón "Guardar"
        document.getElementById('guardarButton').addEventListener('click', function() {
            $('#confirmModal').modal('show');
        });
        // Manejar el clic en el botón "Aceptar" del modal de confirmación
        document.getElementById('confirmChanges').addEventListener('click', function() {
            document.getElementById('form').submit();
        });

        // Manejar el clic en el botón "Cancelar" del modal
        document.getElementById('cancelChanges').addEventListener('click', function() {
            // Cerrar la ventana modal
            $('#confirmModal').modal('hide');
            
        });
    </script>

    <script>
        // Mostrar la ventana modal de confirmación de eliminación cuando se hace clic en el botón "Eliminar"
        document.getElementById('deleteConfirmButton').addEventListener('click', function() {
            $('#deleteConfirmModal').modal('show');
        });

        // Manejar el clic en el botón "Eliminar" del modal de confirmación de eliminación
        document.getElementById('confirmDeleteButton').addEventListener('click', function() {
            // Enviar el formulario de eliminación
            document.getElementById('deleteForm').submit();
        });

        // Manejar el clic en el botón "Cancelar" del modal de confirmación de eliminación
        document.getElementById('cancelDeleteButton').addEventListener('click', function() {
            // Cerrar la ventana modal de confirmación de eliminación
            $('#deleteConfirmModal').modal('hide');
        });
    </script>
{% endblock %}
