{% extends 'base.html.twig' %}

{% block title %}Edit Clientes{% endblock %}

{% block body %}
    <h1>Editar Clientes</h1>

    {{ include('clientes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="javascript:history.go(-1);" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> Volver </a>

    {{ include('clientes/_delete_form.html.twig') }}
{% endblock %}
