{% extends 'base.html.twig' %}

{% block title %}New Clientes{% endblock %}

{% block body %}
    <h1>Crear nuevo cliente</h1>

    {{ include('clientes/_form.html.twig') }}

    <a href="{{ path('app_clientes_index') }}" class="btn btn-secondary">Back</a>
{% endblock %}
